*.pyc
*.pyo
/*.patch
pyshtables.py
pstage/
scripts/oe-git-proxy-socks
sources/
hob-image-*.bb
*.swp
*.orig
*.rej
*~
documentation/user-manual/user-manual.html
documentation/user-manual/user-manual.pdf
documentation/user-manual/user-manual.tgz
pull-*/
bitbake/lib/toaster/contrib/tts/backlog.txt
bitbake/lib/toaster/contrib/tts/log/*
bitbake/lib/toaster/contrib/tts/.cache/*
build/tmp
build/sstate-cache
build/downloads
build/cache
build/*.log
build/conf/sanity_info
